.upd ,.del{

    padding: 8px 15px;
    border: none;
    border-radius: 7%;
    
}

#btnProduct{

    background-color: #0dcaf0;

    padding: 8px 15px;
    border: none;
    border-radius: 7%;
    

}

